/* General page styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Light background color */
  }
  
  /* Centering the home container */
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  /* Styling for the title */
  .home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4c3d70; /* Title color */
    margin-bottom: 50px;
  }
  
  /* Container for the buttons */
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Styling for the buttons */
  .home-button {
    padding: 20px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #4c3d70;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(76, 61, 112, 0.3);
  }
  
  /* Hover effect for buttons */
  .home-button:hover {
    background-color: #5f6caf;
    transform: translateY(-5px);
  }
  
  /* Button active effect */
  .home-button:active {
    transform: translateY(2px);
  }
  